@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin: 0; padding: 0;}
li{list-style: none;}
a{display: block; text-decoration: none; color: #333;}
html,body{overflow-x: hidden; font-family: 'Noto Sans KR', sans-serif;}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{ color: #333;}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{ text-shadow: none;}


/* main */
div{box-sizing: border-box;}
.main, .sub1,.sub2,.sub3{width: 100%;}
.header{width: 100%;}
.header .header1{
    display: flex;
    justify-content: space-between;
    padding: 4vw;
}
.header .header1 .logo{
    width: 20vw;
}
.header .header1 .menu_btn{
    width: 8vw;
    margin-top: 1vw;
}
.header .header1 .menu_btn a img{
    width: 8vw;
}
.header .header2{
    height: 40px;
}
.header .header2 ul{
    display: flex;
    justify-content: space-between;
} 
.header .header2 ul li{
    width: 25vw;
}
.header .header2 ul li a{
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 3vw;
    font-weight: 500;
    background-color:#afafaf;
}
.header .header2 ul li a.active{
    background-color:#9b00ff;
}
.nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 4vw;
    z-index: 100;
    background-color: #9b00ff;
    display: none;
}
.nav .close{width: 10vw;
    float: right;}
.nav .close a{
    margin-left: 2.5vw;
}
.nav .close a img{width: 7vw;}
.nav nav{
    width: 100%;
    margin-top: 10vw;
}
.nav nav>ul>li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.nav nav ul li a{
    font-size: 4vw;
    padding: 4vw;
    color: #fff;
}
.nav nav .sub{display: none;}
.nav nav .sub li a{
    font-size: 3vw;
    padding: 4vw;
    color: rgba(255, 255, 255, 0.8);
}
.nav nav .sub li a:hover{
    color: rgba(255, 255, 255, 1);
}
.nav .menu_img{
    width: 100%;
}
.nav .menu_img img{
    width: 95vw;
}

/* 메인슬라이드 */
.visual{
    width: 100%;
}
.visual .swiper-slide{
    width: 100%;
    height: 105vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.visual .s1{
    background-image: url(../img/main1.png);
}
.visual .s2{
    background-image: url(../img/main2.png);
}
.visual .s3{
    background-image: url(../img/main3.png);
}

/* 지금만 할인업 */
.today{
    width: 100%;
    margin-top: 10vw;
    background-color: #9b00ff;
}
.today .today_txt{
    width: 70%;
    padding: 5vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.today .today_txt .today_txt_img{
    margin-top: 2vw;
}
.today .today_txt h1{
    color: #fff;
    font-size: 5.9vw;
    font-weight: 700;
}

/* today이미지 시작 */
.today .today_img{
    width: 100%;
    padding: 5vw;
    display: flex;
    justify-content: space-between;
}
.today .today_img a img{
    width: 28vw;
    border-radius: 2vw;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6); 
}

/* 이벤트 탭 시작 */
.event_tab{
    width: 100%;
    margin-top: 10vw;
    height: 100vw;
}
.event_tab .tab_title{
    display: flex;
}
.event_tab .tab_title a{
    width: 50vw;
    height: 10vw;
    text-align: center;
    font-size: 4vw;
    line-height: 10vw;
    background-color: #afafaf;
    color: #fff;
}
.event_tab .tab_title a.active{
    background-color: #9b00ff;
}
.event_tab .tab_content{
    width: 100%;
    position: relative;
}
.event_tab .tab_content>div{
    position: absolute;
}
.event_tab .tab_content>div a img{
    width: 100%;
}

/* popup gallery 시작!~ */
.gallery{
    width: 100%;
    margin-top: 20vw;
}
.gallery h1{
    color: #333;
    text-align: center;
    font-size: 5vw;
    margin-bottom: 5vw;
}
.gallery h1 span{
    background-color: #ff5454;
    color: #fff;
    display: inline-block;
    padding: 0vw 2vw 0.5vw;
}
.gallery .gall_area{
    width: 100vw;
    margin: 0 auto;
}
.gallery .gall_area ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.gallery .gall_area ul li{
    width: 49.5vw;
    text-align: center;
    margin: 2.5vw 0;
}
.gallery .gall_area ul li a img{
    width: 44vw;
}

#imagelightbox {
    position: fixed;
    z-index: 9999; 
    -ms-touch-action: none;
    touch-action: none;
}
#imagelightbox-overlay
{
    background-color: rgba( 0, 0, 0, 0.5 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* "CLOSE" BUTTON */

#imagelightbox-close{
    width: 8vw;
    height: 8vw;
    position: fixed;
    z-index: 10002;
    top: 10vw;
    right: 10vw;
    background-image: url(../img/close.png);
    background-size: cover;
    background-color: transparent;
    border: none;
}

/* ARROWS */

.imagelightbox-arrow
{
    width: 15vw;
    height: 15vw;
    vertical-align: middle;
    display: none;
    position: fixed;
    z-index: 10001;
    top: 50%;
    margin-top: -10vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.imagelightbox-arrow-left   {
    left: -1vw;
    background-image: url(../img/arrow_left.png); 
}
.imagelightbox-arrow-right   {
    right: -1vw;
    background-image: url(../img/arrow_right.png);
}

/* footer시작! */
.footer{
    width: 100%;
    margin-top: 10vw;
    text-align: center;
    line-height: 6vw;
    font-size: 3vw;
    padding-bottom: 20vw;
}
.footer .f_logo img{
    width: 20vw;
    margin-bottom: 5vw;
}
.footer .f_txt p span{
   font-weight: 700;
}

/* 하단 아이콘 시이작! */
.main_icon{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60px;
    background-color: #fff;
    box-shadow: -4px 0 15px #ccc;
}
.main_icon ul{
    display: flex;
    justify-content: space-between;
}
.main_icon ul li{
    width: 20vw;
}
.main_icon ul li a{
    padding: 2vw 0 0 5vw;
}

/* 서브페이지1 결제 시작! */
.sub1_visual{
    width: 100%;
}
.sub1_visual .sub1_v_txt1{
    width: 100%;
    padding: 10vw 5vw;
}
.sub1_visual .sub1_v_txt1 ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.sub1_visual .sub1_v_txt1 ul li:first-child{
    font-weight: 500;
    color: #9b00ff;
}
.sub1_visual .sub1_v_txt1 ul li:last-child{
    font-weight: 500;
    color: #afafaf;
}
.sub1_visual .sub1_v_txt1 ul li:last-child:before{
    content: "|";
    margin-right: 3vw;
}

/* 서브페이지1 sub1_v */
.sub1_visual .sub1_v{
    width: 100%;
}
.sub1_visual .sub1_v .sub1_v_img{
    width: 100%;
    padding: 0 5vw;
}
.sub1_visual .sub1_v .sub1_v_img a img{
    width: 90vw;
}
.sub1_visual .sub1_v .sub1_v_txt{
    width: 90%;
    padding: 3vw;
    margin: 0 auto;
    border-bottom: 1px solid #333;
}
.sub1_visual .sub1_v .sub1_v_txt h5{
    text-align: left;
    font-size: 4vw;
}
.sub1_visual .sub1_v .sub1_v_txt h5 span{
    font-size: 3.5vw;
    color: #888;
}
.sub1_visual .sub1_v_txt2{
    width: 100%;
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 50vw;
}
.sub1_visual .sub1_v_txt2 h3{
    display: inline-block;
    background-color: #afafaf;
    padding: 2vw;
    font-size: 3.5vw;
    border-radius: 2vw;
    cursor: pointer;
}
.sub1_visual .sub1_v_txt2 p{
    font-size: 3vw;
    color: #888;
    margin-top: 3vw;
    text-decoration: underline;
    cursor: pointer;
}

/* 서브페이지2 라이프 시작 */
.sub2_c{width: 100%; margin-top: 5vw;}
.sub2_c ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.sub2_c ul li{
    width:33%;
}
.sub2_c ul li a img{
    width: 29vw;
    padding: 2vw;
}
.sub2_txt{
    width: 100%;
    padding: 2vw;
}
.sub2_txt p{
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
    padding: 3vw;
    color: #9b00ff;
    border: 2px solid #9b00ff;
    border-radius: 2vw;
    margin-bottom: 50vw;
}
.sub2_txt p:after{
    content: "▼";
    margin-left: 3vw;
    font-size: 3.5vw;
}

/* 서브페이지3 금융시작 */
.sub3_img{
    width: 100%;
    padding: 5vw;
    margin-top: 5vw;
}
.sub3_img a img{
    width: 100%;
}
.sub3_txt{
    width: 100%;
    padding: 0 5vw;
}
.sub3_txt h1{
    font-size: 4vw;
    font-weight: 700;
}
.sub3_txt ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    font-weight: 500;
    margin-bottom: 50vw;
}
